<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421403764828-1dognl8sf8m49hn8mt92gumjq7lgh163.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421403764828-1dognl8sf8m49hn8mt92gumjq7lgh163</string>
	<key>API_KEY</key>
	<string>AIzaSyBwMipNp9C07AjrmeJ-XR-uwDiCQJWkD68</string>
	<key>GCM_SENDER_ID</key>
	<string>421403764828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kottra.app</string>
	<key>PROJECT_ID</key>
	<string>kottra-pos-d7e02</string>
	<key>STORAGE_BUCKET</key>
	<string>kottra-pos-d7e02.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421403764828:ios:49dd6b226a826f3a509e99</string>
</dict>
</plist>